/* CSS 초기화코드 */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}

/* main 코드 */
header {
  background-color: rgba(17, 113, 177, 0.74);
  text-align: center;
  color: white;
  height: 100px;
  padding: 15px;
}

nav {
  background-color: #5e5e5e;
  color: white;
  /* height: 40px; */
  /* line-height: 40px; */
  display: flex;
}
nav a {
  padding: 12px 16px 10px 16px;
  border-bottom: 2px solid transparent;
  transition: 0.7s;
}
nav a:first-of-type {
  margin-left: 10px;
}
nav a:last-of-type {
  margin-right: 10px;
}

nav a:nth-of-type(6) {
  margin-left: auto;
}
nav a:hover {
  border-bottom: 2px solid yellow;
}

section {
  display: flex;
}
article {
  flex: 1;
  margin: 5px;
  border: 1px solid green;
  /* height: 500px; */
}

p.dash-title {
  color: blue;
  font-weight: bold;
  transition: 0.7s;
}
p.dash-title:hover {
  background-color: #bbb;
  cursor: pointer;
}
footer {
  background-color: #d2d2d2;
  text-align: center;
}
